.slide.centered
  %h1 Penguin

  %h2 A tool for making presentations.

  %p Press the right arrow to continue.

.slide
  %p Penguin is:

  %ol
    %li Simple
    %li Flexible
    %li Attractive

.slide
  %p Source code looks great!

  %pre
    %code
      :preserve
        (function () {
          var awesome = function (thing) {
            console.log(thing + "is awesome!");
          };

          awesome("Penguin");
        })();

.slide
  %p Make a presentation with:

  %ul
    %li.step Haml
    %li.step Sass
    %li.step CoffeeScript
