.slide
  %h1 Penguin

  %h2 A tool for making presentations.

.slide
  %p Penguin is:

  %ol
    %li Simple
    %li Flexible
    %li Easy

.slide
  %p Source code looks great!

  %pre
    %code
      :plain
        (function () {
          var awesome = function (thing) {
            console.log(thing + "is awesome!");
          };

          awesome("Penguin");
        })();

.slide
  %p Make a presentation with:

  %ul
    %li.step HTML or Haml.
    %li.step CSS or Sass.
    %li.step JavaScript or CoffeeScript.
